.btn {
   padding: 0;
   font-weight: 400;
   color: $white;
   font-size: rem(14);
   line-height: rem(16);
   border: none;
   border-radius: rem(50);
   width: rem(110);
   height: rem(30);
   cursor: pointer;
   background: $btn;
   outline: none;

   &_account {
      margin-top: rem(15);
      margin-left: rem(10);
   }

   &_add {
      width: 200px;
      height: 30px;
   }

   &:hover{
      background: $btn-hover;
   }

   &:active{
      background: $btn-active;
   }

   &_modal {
      width: rem(260);
      height: rem(40);
      background: $modal-btn;
      border-radius: rem(50);
      font-weight: 700;
      font-size: rem(18);
      line-height: rem(40);
      text-align: center;
      color: $white;

      &:hover {
         background: $modal-btn-hover;
      }

      &:active {
         background: $modal-btn-active;
      }

      &-cancel {
         width: rem(260);
         height: rem(40);
         background: $btn;
         border-radius: rem(50);
         font-weight: 400;
         font-size: rem(18);
         line-height: rem(40);
         text-align: center;
         color: $white;
         &:hover{
            background: $btn-hover;
         }

         &:active{
            background: $btn-active;
         }
      }
   }
}
