<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
lang="en">
        <div th:fragment="editor-parts" class="editor-parts hide">
                <div class="modal-title"></div>
                <div class="modal-id hide"></div>
                <div class="modal-field">
                        <label for="modal-field-name" class="modal-field-title"><span th:text="#{view.modal.field.name}"></span></label>
                        <input id="modal-field-name" type="text" class="modal-field-value">
                </div>
                <div class="editor-parts-btns">
                        <button class="btn btn_modal" th:text="#{view.btn.add}">add</button>
                        <button class="btn btn_modal-cancel" th:text="#{view.btn.cancel}"></button>
                </div>
        </div>
</html>