<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    lang="en">

    <div th:fragment="refillings-editor" class="refillings-editor hide">
        <div class="refillings-editor-wrap">
            <div class="refillings-editor-column">
                <div class="refillings-editor-date">30.12.2026</div>
                <div class="refillings-editor-refillings">
                    <div class="refillings-editor-refillings-item">
                        <div class="refillings-editor-refillings-item-refill">
                            <div class="refillings-editor-refillings-item-refill-title refillings-editor-refillings-item-refill-title-active">WWWWWWWWWWWwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</div>
                            <div class="refillings-editor-refillings-item-refill-btn"></div>
                        </div>
                        <div class="refillings-editor-refillings-item-info">
                            <div class="refillings-editor-refillings-item-info-point">
                                <div class="refillings-editor-refillings-item-info-point-title">sdjkvajskdbvhhadvgajdvgaylsgasdfasdasdasdvlkjhgvluhwevukhsevuuiesv</div>
                                <input type="checkbox">
                            </div>
                            <div class="refillings-editor-refillings-item-info-point">
                                <div class="refillings-editor-refillings-item-info-point-title">sdjkvajskdbvhhadvgajdvgaylsgasdfasdasdasdvlkjhgvluhwevukhsevuuiesv</div>
                                <input type="checkbox">
                            </div>
                            <div class="refillings-editor-refillings-item-info-point">
                                <div class="refillings-editor-refillings-item-info-point-title">sdjkvajskdbvhhadvgajdvgaylsgasdfasdasdasdvlkjhgvluhwevukhsevuuiesv</div>
                                <input type="checkbox">
                            </div>
                            <div class="refillings-editor-refillings-item-info-point">
                                <div class="refillings-editor-refillings-item-info-point-title">sdjkvajskdbvhhadvgajdvgaylsgasdfasdasdasdvlkjhgvluhwevukhsevuuiesv</div>
                                <input type="checkbox">
                            </div>
                            <div class="refillings-editor-refillings-item-info-point">
                                <div class="refillings-editor-refillings-item-info-point-title">sdjkvajskdbvhhadvgajdvgaylsgasdfasdasdasdvlkjhgvluhwevukhsevuuiesv</div>
                                <input type="checkbox">
                            </div>
                        </div>
                    </div>
                    <div class="refillings-editor-refillings-item">
                        <div class="refillings-editor-refillings-item-refill">
                            <div class="refillings-editor-refillings-item-refill-title refillings-editor-refillings-item-refill-title-active">WWWWWWWWWWWwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</div>
                            <div class="refillings-editor-refillings-item-refill-btn"></div>
                        </div>
                        <div class="refillings-editor-refillings-item-info">
                            <div class="refillings-editor-refillings-item-info-point">
                                <div class="refillings-editor-refillings-item-info-point-title">sdjkvajskdbvhhadvgajdvgaylsgasdfasdasdasdvlkjhgvluhwevukhsevuuiesv</div>
                                <input type="checkbox">
                            </div>
                            <div class="refillings-editor-refillings-item-info-point">
                                <div class="refillings-editor-refillings-item-info-point-title">sdjkvajskdbvhhadvgajdvgaylsgasdfasdasdasdvlkjhgvluhwevukhsevuuiesv</div>
                                <input type="checkbox">
                            </div>
                            <div class="refillings-editor-refillings-item-info-point">
                                <div class="refillings-editor-refillings-item-info-point-title">sdjkvajskdbvhhadvgajdvgaylsgasdfasdasdasdvlkjhgvluhwevukhsevuuiesv</div>
                                <input type="checkbox">
                            </div>
                            <div class="refillings-editor-refillings-item-info-point">
                                <div class="refillings-editor-refillings-item-info-point-title">sdjkvajskdbvhhadvgajdvgaylsgasdfasdasdasdvlkjhgvluhwevukhsevuuiesv</div>
                                <input type="checkbox">
                            </div>
                            <div class="refillings-editor-refillings-item-info-point">
                                <div class="refillings-editor-refillings-item-info-point-title">sdjkvajskdbvhhadvgajdvgaylsgasdfasdasdasdvlkjhgvluhwevukhsevuuiesv</div>
                                <input type="checkbox">
                            </div>
                        </div>
                    </div>
                    <div class="refillings-editor-refillings-item">
                        <div class="refillings-editor-refillings-item-refill">
                            <div class="refillings-editor-refillings-item-refill-title refillings-editor-refillings-item-refill-title-active">WWWWWWWWWWWwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</div>
                            <div class="refillings-editor-refillings-item-refill-btn"></div>
                        </div>
                        <div class="refillings-editor-refillings-item-info">
                            <div class="refillings-editor-refillings-item-info-point">
                                <div class="refillings-editor-refillings-item-info-point-title">sdjkvajskdbvhhadvgajdvgaylsgasdfasdasdasdvlkjhgvluhwevukhsevuuiesv</div>
                                <input type="checkbox">
                            </div>
                            <div class="refillings-editor-refillings-item-info-point">
                                <div class="refillings-editor-refillings-item-info-point-title">sdjkvajskdbvhhadvgajdvgaylsgasdfasdasdasdvlkjhgvluhwevukhsevuuiesv</div>
                                <input type="checkbox">
                            </div>
                            <div class="refillings-editor-refillings-item-info-point">
                                <div class="refillings-editor-refillings-item-info-point-title">sdjkvajskdbvhhadvgajdvgaylsgasdfasdasdasdvlkjhgvluhwevukhsevuuiesv</div>
                                <input type="checkbox">
                            </div>
                            <div class="refillings-editor-refillings-item-info-point">
                                <div class="refillings-editor-refillings-item-info-point-title">sdjkvajskdbvhhadvgajdvgaylsgasdfasdasdasdvlkjhgvluhwevukhsevuuiesv</div>
                                <input type="checkbox">
                            </div>
                            <div class="refillings-editor-refillings-item-info-point">
                                <div class="refillings-editor-refillings-item-info-point-title">sdjkvajskdbvhhadvgajdvgaylsgasdfasdasdasdvlkjhgvluhwevukhsevuuiesv</div>
                                <input type="checkbox">
                            </div>
                        </div>
                    </div>
                    <div class="refillings-editor-refillings-item">
                        <div class="refillings-editor-refillings-item-refill">
                            <div class="refillings-editor-refillings-item-refill-title refillings-editor-refillings-item-refill-title-active">WWWWWWWWWWWwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</div>
                            <div class="refillings-editor-refillings-item-refill-btn"></div>
                        </div>
                        <div class="refillings-editor-refillings-item-info">
                            <div class="refillings-editor-refillings-item-info-point">
                                <div class="refillings-editor-refillings-item-info-point-title">sdjkvajskdbvhhadvgajdvgaylsgasdfasdasdasdvlkjhgvluhwevukhsevuuiesv</div>
                                <input type="checkbox">
                            </div>
                            <div class="refillings-editor-refillings-item-info-point">
                                <div class="refillings-editor-refillings-item-info-point-title">sdjkvajskdbvhhadvgajdvgaylsgasdfasdasdasdvlkjhgvluhwevukhsevuuiesv</div>
                                <input type="checkbox">
                            </div>
                            <div class="refillings-editor-refillings-item-info-point">
                                <div class="refillings-editor-refillings-item-info-point-title">sdjkvajskdbvhhadvgajdvgaylsgasdfasdasdasdvlkjhgvluhwevukhsevuuiesv</div>
                                <input type="checkbox">
                            </div>
                            <div class="refillings-editor-refillings-item-info-point">
                                <div class="refillings-editor-refillings-item-info-point-title">sdjkvajskdbvhhadvgajdvgaylsgasdfasdasdasdvlkjhgvluhwevukhsevuuiesv</div>
                                <input type="checkbox">
                            </div>
                            <div class="refillings-editor-refillings-item-info-point">
                                <div class="refillings-editor-refillings-item-info-point-title">sdjkvajskdbvhhadvgajdvgaylsgasdfasdasdasdvlkjhgvluhwevukhsevuuiesv</div>
                                <input type="checkbox">
                            </div>
                        </div>
                    </div>
                    <div class="refillings-editor-refillings-item">
                        <div class="refillings-editor-refillings-item-refill">
                            <div class="refillings-editor-refillings-item-refill-title refillings-editor-refillings-item-refill-title-active">WWWWWWWWWWWwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</div>
                            <div class="refillings-editor-refillings-item-refill-btn"></div>
                        </div>
                        <div class="refillings-editor-refillings-item-info">
                            <div class="refillings-editor-refillings-item-info-point">
                                <div class="refillings-editor-refillings-item-info-point-title">sdjkvajskdbvhhadvgajdvgaylsgasdfasdasdasdvlkjhgvluhwevukhsevuuiesv</div>
                                <input type="checkbox">
                            </div>
                            <div class="refillings-editor-refillings-item-info-point">
                                <div class="refillings-editor-refillings-item-info-point-title">sdjkvajskdbvhhadvgajdvgaylsgasdfasdasdasdvlkjhgvluhwevukhsevuuiesv</div>
                                <input type="checkbox">
                            </div>
                            <div class="refillings-editor-refillings-item-info-point">
                                <div class="refillings-editor-refillings-item-info-point-title">sdjkvajskdbvhhadvgajdvgaylsgasdfasdasdasdvlkjhgvluhwevukhsevuuiesv</div>
                                <input type="checkbox">
                            </div>
                            <div class="refillings-editor-refillings-item-info-point">
                                <div class="refillings-editor-refillings-item-info-point-title">sdjkvajskdbvhhadvgajdvgaylsgasdfasdasdasdvlkjhgvluhwevukhsevuuiesv</div>
                                <input type="checkbox">
                            </div>
                            <div class="refillings-editor-refillings-item-info-point">
                                <div class="refillings-editor-refillings-item-info-point-title">sdjkvajskdbvhhadvgajdvgaylsgasdfasdasdasdvlkjhgvluhwevukhsevuuiesv</div>
                                <input type="checkbox">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-field-btns">
                    <button class="btn btn_modal" th:text="#{view.btn.add}">add</button>
                    <button class="btn btn_modal-cancel" th:text="#{view.btn.cancel}"></button>
                </div>
            </div>

            <div class="refillings-editor-column">
                <div class="refillings-editor-search">
                    <label for="refillings-editor-search-input">
                        <input id="refillings-editor-search-input" type="text">
                    </label>
                </div>
                <div class="refillings-editor-departments">
                    <div class="refillings-editor-departments-item">
                        <div class="refillings-editor-departments-item-plus"></div>
                        <div class="refillings-editor-departments-item-info">
                            <div class="refillings-editor-departments-item-info-title">1</div>
                            <div class="refillings-editor-departments-item-info-subtitle">1</div>
                        </div>
                    </div>
                    <div class="refillings-editor-departments-item">
                        <div class="refillings-editor-departments-item-plus"></div>
                        <div class="refillings-editor-departments-item-info">
                            <div class="refillings-editor-departments-item-info-title">2</div>
                            <div class="refillings-editor-departments-item-info-subtitle">2</div>
                        </div>
                    </div>
                    <div class="refillings-editor-departments-item">
                        <div class="refillings-editor-departments-item-plus"></div>
                        <div class="refillings-editor-departments-item-info">
                            <div class="refillings-editor-departments-item-info-title">3</div>
                            <div class="refillings-editor-departments-item-info-subtitle">3</div>
                        </div>
                    </div>
                    <div class="refillings-editor-departments-item">
                        <div class="refillings-editor-departments-item-plus"></div>
                        <div class="refillings-editor-departments-item-info">
                            <div class="refillings-editor-departments-item-info-title">4</div>
                            <div class="refillings-editor-departments-item-info-subtitle">4</div>
                        </div>
                    </div>
                    <div class="refillings-editor-departments-item">
                        <div class="refillings-editor-departments-item-plus"></div>
                        <div class="refillings-editor-departments-item-info">
                            <div class="refillings-editor-departments-item-info-title">5</div>
                            <div class="refillings-editor-departments-item-info-subtitle">5</div>
                        </div>
                    </div>
                    <div class="refillings-editor-departments-item">
                        <div class="refillings-editor-departments-item-plus"></div>
                        <div class="refillings-editor-departments-item-info">
                            <div class="refillings-editor-departments-item-info-title">6</div>
                            <div class="refillings-editor-departments-item-info-subtitle">6</div>
                        </div>
                    </div>
                    <div class="refillings-editor-departments-item">
                        <div class="refillings-editor-departments-item-plus"></div>
                        <div class="refillings-editor-departments-item-info">
                            <div class="refillings-editor-departments-item-info-title">7</div>
                            <div class="refillings-editor-departments-item-info-subtitle">7</div>
                        </div>
                    </div>
                    <div class="refillings-editor-departments-item">
                        <div class="refillings-editor-departments-item-plus"></div>
                        <div class="refillings-editor-departments-item-info">
                            <div class="refillings-editor-departments-item-info-title">8</div>
                            <div class="refillings-editor-departments-item-info-subtitle">8</div>
                        </div>
                    </div>
                    <div class="refillings-editor-departments-item">
                        <div class="refillings-editor-departments-item-plus"></div>
                        <div class="refillings-editor-departments-item-info">
                            <div class="refillings-editor-departments-item-info-title">9</div>
                            <div class="refillings-editor-departments-item-info-subtitle">9</div>
                        </div>
                    </div>
                    <div class="refillings-editor-departments-item">
                        <div class="refillings-editor-departments-item-plus"></div>
                        <div class="refillings-editor-departments-item-info">
                            <div class="refillings-editor-departments-item-info-title">10</div>
                            <div class="refillings-editor-departments-item-info-subtitle">10</div>
                        </div>
                    </div>
                    <div class="refillings-editor-departments-item">
                        <div class="refillings-editor-departments-item-plus"></div>
                        <div class="refillings-editor-departments-item-info">
                            <div class="refillings-editor-departments-item-info-title">11</div>
                            <div class="refillings-editor-departments-item-info-subtitle">11</div>
                        </div>
                    </div>
                    <div class="refillings-editor-departments-item">
                        <div class="refillings-editor-departments-item-plus"></div>
                        <div class="refillings-editor-departments-item-info">
                            <div class="refillings-editor-departments-item-info-title">12</div>
                            <div class="refillings-editor-departments-item-info-subtitle">12</div>
                        </div>
                    </div>
                    <div class="refillings-editor-departments-item">
                        <div class="refillings-editor-departments-item-plus"></div>
                        <div class="refillings-editor-departments-item-info">
                            <div class="refillings-editor-departments-item-info-title">13</div>
                            <div class="refillings-editor-departments-item-info-subtitle">13</div>
                        </div>
                    </div>
                    <div class="refillings-editor-departments-item">
                        <div class="refillings-editor-departments-item-plus"></div>
                        <div class="refillings-editor-departments-item-info">
                            <div class="refillings-editor-departments-item-info-title">14</div>
                            <div class="refillings-editor-departments-item-info-subtitle">14</div>
                        </div>
                    </div>
                    <div class="refillings-editor-departments-item">
                        <div class="refillings-editor-departments-item-plus"></div>
                        <div class="refillings-editor-departments-item-info">
                            <div class="refillings-editor-departments-item-info-title">15</div>
                            <div class="refillings-editor-departments-item-info-subtitle">15</div>
                        </div>
                    </div>
                    <div class="refillings-editor-departments-item">
                        <div class="refillings-editor-departments-item-plus"></div>
                        <div class="refillings-editor-departments-item-info">
                            <div class="refillings-editor-departments-item-info-title">16</div>
                            <div class="refillings-editor-departments-item-info-subtitle">16</div>
                        </div>
                    </div>
                    <div class="refillings-editor-departments-item">
                        <div class="refillings-editor-departments-item-plus"></div>
                        <div class="refillings-editor-departments-item-info">
                            <div class="refillings-editor-departments-item-info-title">17</div>
                            <div class="refillings-editor-departments-item-info-subtitle">17</div>
                        </div>
                    </div>
                    <div class="refillings-editor-departments-item">
                        <div class="refillings-editor-departments-item-plus"></div>
                        <div class="refillings-editor-departments-item-info">
                            <div class="refillings-editor-departments-item-info-title">18</div>
                            <div class="refillings-editor-departments-item-info-subtitle">18</div>
                        </div>
                    </div>
                    <div class="refillings-editor-departments-item">
                        <div class="refillings-editor-departments-item-plus"></div>
                        <div class="refillings-editor-departments-item-info">
                            <div class="refillings-editor-departments-item-info-title">19</div>
                            <div class="refillings-editor-departments-item-info-subtitle">19</div>
                        </div>
                    </div>
                    <div class="refillings-editor-departments-item">
                        <div class="refillings-editor-departments-item-plus"></div>
                        <div class="refillings-editor-departments-item-info">
                            <div class="refillings-editor-departments-item-info-title">20</div>
                            <div class="refillings-editor-departments-item-info-subtitle">20</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</html>