.note {
  width: rem(400);
  border-radius: rem(5);
  background: $note-success-bgr;
  position: fixed;
  bottom: rem(30);
  right: rem(30);
  padding: rem(30) rem(10);

  &_fail {
    background: $note-fail-bgr;
  }

  &-msg {
    text-align: center;
    font-weight: 400;
    font-size: rem(22);
    color: $white;
    overflow-wrap: break-word;
    white-space: pre-line;
  }

  &-info {
    text-align: center;
    margin-top: rem(5);
    font-size: rem(16);
    color: $white;
    overflow-wrap: break-word;
    white-space: pre-line;
  }
}