$white: #ffffff;
$black: #000000;
$grey: #C4C4C4;
$error: #ff1c00;
$error-page: #05B2FF;
$overflow: rgba(0, 0, 0, 0.6);
$btn: #706565;
$btn-hover: #413E3E;
$btn-active: #000000;
$even: #CFD2D5;
$odd: #F8CEB0;
$column-btn-hover: #8BA1B6;
$modal-btn: #0049B7;
$modal-btn-hover: #4E65B9;
$modal-btn-active: #0C226D;
$note-success-bgr: #16AA3D;
$note-fail-bgr: #FF4C39;
$table-cartridge-index: #86B1F2;
$table-cartridge-btn: #A3C3F3;
$table-cartridge-btn-hover: #7291C0;
$table-cartridge-btn-active: #FFFFFF;
$table-cartridge-parts-bg1: #86B1F2;
$table-cartridge-parts-bg2: #A3C3F3;
$table-cartridge-parts-bg3: #BED2F1;
$table-cartridge-info-title: #6C9FED;
$table-cartridge-info-footer: #4F8BE9;
$table-department-odd: #99F8E6;
$table-department-even: #BFE9E1;
$table-department-btn-hover: #58D4BD;