$white: #ffffff;
$black: #000000;
$grey_for_link: #C4C4C4;
$btn: #706565;
$btn-hover: #413E3E;
$btn-press: #000000;
$column-1: #CFD2D5;
$column-1-hover: #8BA1B6;
$column-1-active: #ffffff;
$column-2: #F8CEB0;
$column-2-hover: #BC9D87;
$column-2-active: #ffffff;