$white: #ffffff;
$black: #000000;
$grey: #C4C4C4;
$overflow: rgba(0, 0, 0, 0.6);
$btn: #706565;
$btn-hover: #413E3E;
$btn-active: #000000;
$even: #CFD2D5;
$odd: #F8CEB0;
$column-btn-hover: #8BA1B6;
$modal-btn: #0049B7;
$modal-btn-hover: #4E65B9;
$modal-btn-active: #0C226D;
$note-success-bgr: #16AA3D;
$note-fail-bgr: #FF4C39;