<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="blocks/head :: head"></head>
    <body>
        <div th:replace="blocks/header :: header"></div>
        <div class="container-content">
            <div th:replace="blocks/menu :: menu"></div>

            <div class="dispensing-blades" data-page="dispensing-blades">
                <div>Dispensing Blades</div>
            </div>

        </div>
    </body>
</html>