<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

    <head th:fragment="head">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Consumables</title>

        <link rel="stylesheet" th:href="@{css/style.min.css}">
        <link rel="stylesheet" th:src="@{/webjars/bootstrap/css/bootstrap.min.css}">

        <script th:src="@{js/script.min.js}" defer></script>
        <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
    </head>

</html>