<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

    <head th:fragment="head">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Consumables</title>

        <link rel="stylesheet" th:href="@{css/style.min.css}">

        <script th:src="@{js/main.min.js}" defer></script>

        <script th:inline="javascript" defer>

            var i18n = {};
            i18n.modalAddBtn = [[(#{modal.btn.add})]];
            i18n.modalUpdateBtn = [[(#{modal.btn.update})]];
            i18n.nameToner = [[(#{name.toner})]];
            i18n.nameName = [[(#{name.name})]];

        </script>


    </head>

</html>