<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

    <script th:fragment="i18n_script" th:inline="javascript" defer>


        var i18n = {};
        // names
        i18n.nameName = [[(#{view.name})]];
        i18n.nameParts = [[(#{view.parts})]];
        i18n.nameCoef = [[(#{view.coef})]];

        // modals
        i18n.modalAddBtn = [[(#{view.btn.add})]];
        i18n.modalUpdateBtn = [[(#{view.btn.update})]];
        i18n.modalSelect = [[(#{view.modal.field.select})]];

        // models
        i18n.nameCartridge = [[(#{view.model.cartridge})]];
        i18n.nameToner = [[(#{view.model.parts.toner})]];
        i18n.nameDrum = [[(#{view.model.parts.drum})]];
        i18n.nameMagneticShaft = [[(#{view.model.parts.magneticShaft})]];
        i18n.namePrimaryChargeShaft = [[(#{view.model.parts.primaryChargeShaft})]];
        i18n.nameCleaningBlade = [[(#{view.model.parts.cleaningBlade})]];
        i18n.nameDispensingBlade = [[(#{view.model.parts.dispensingBlade})]];

        // notifications
        i18n.noteFailDelete = [[(#{view.note.fail.delete})]];
        i18n.noteFailLoad = [[(#{view.note.fail.load})]];
        i18n.noteSuccessDelete = [[(#{view.note.success.delete})]];



    </script>

</html>