<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    lang="en">

    <div th:fragment="menu" class="menu">
        <ul>
            <li class="menu-item" data-page="main"><a th:href="@{/}">Головна</a></li>
            <li class="menu-item" data-page="department"><a th:href="@{/departments}">Магазини/Офіс</a></li>
            <li class="menu-item" data-page="cartridges"><a th:href="@{/cartridges}">Картриджи</a></li>
            <li class="menu-item menu-group">Запчастини</li>
            <li class="menu-subitem" data-page="toners"><a th:href="@{/toners}">Тонер</a></li>
            <li class="menu-subitem" data-page="drums"><a th:href="@{/drums}">Фотобарабан</a></li>
            <li class="menu-subitem" data-page="magnetic-shafts"><a th:href="@{/magnetic_shafts}">Магнітний вал</a></li>
            <li class="menu-subitem" data-page="primary-charge-shafts"><a th:href="@{/primary_charge_shafts}">Вал заряду</a></li>
            <li class="menu-subitem" data-page="cleaning-blades"><a th:href="@{/cleaning_blades}">Лезо очистки</a></li>
            <li class="menu-subitem" data-page="dispensing-blades"><a th:href="@{/dispensing_blades}">Лезо дозування</a></li>
            <li class="menu-item" data-page="tools"><a th:href="@{/tools}">Інструменти</a></li>
        </ul>
    </div>

</html>