<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    lang="en">

    <div th:fragment="menu" class="menu">
        <ul>
            <li class="menu-item"><a href="#">Головна</a></li>
            <li class="menu-item"><a href="#">Магазини/Офіс</a></li>
            <li class="menu-item"><a href="#">Картриджи</a></li>
            <li class="menu-item menu-group">Запчастини</li>
            <li class="menu-subitem"><a href="#">Тонер</a></li>
            <li class="menu-subitem"><a href="#">Фотобарабан</a></li>
            <li class="menu-subitem"><a href="#">Магнітний вал</a></li>
            <li class="menu-subitem"><a href="#">Вал заряду</a></li>
            <li class="menu-subitem"><a href="#">Лезо очистки</a></li>
            <li class="menu-subitem"><a href="#">Лезо дозування</a></li>
            <li class="menu-item"><a href="#">Інструменти</a></li>
        </ul>
    </div>

</html>