<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
lang="en">
<div th:fragment="parts-table" class="parts-table">
    <div class="parts-table-header">
        <div class="parts-table-header-index">#</div>
        <div class="parts-table-header-name">
            <div class="parts-table-arrows">
                <div class="parts-table-arrows-up"></div>
                <div class="parts-table-arrows-down parts-table-arrows-down-active"></div>
            </div>
            <span>Назва</span>
        </div>
        <div class="parts-table-header-edit"></div>
        <div class="parts-table-header-delete"></div>
    </div>
    <div class="parts-table-body"></div>
</div>
</html>