<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="blocks/head :: head"></head>
    <body>
        <div th:replace="blocks/header :: header"></div>
        <div class="container-content">
            <div th:replace="blocks/menu :: menu"></div>

            <div class="drums" data-page="parts-drums">
                <button class="btn btn_add" data-btn="add" th:text="#{view.btn.add}"></button>
                <div th:replace="blocks/tables/parts_table :: parts-table"></div>
            </div>

        </div>

        <div th:replace="blocks/modal/editor_parts :: editor-parts"></div>
        <div th:replace="blocks/modal/overflow :: overflow"></div>

        <script th:src="@{/js/drums.min.js}" defer></script>
    </body>
</html>